.navbar-nav{
    margin-top: -65px;
    margin-left: 25%;
    font-family: 'Smooch Sans', sans-serif;
    font-size: x-large;
}


h2{
    text-align: center;
    padding-bottom: 70px;
    /* font-family: 'Smooch Sans', sans-serif; */
    font-size: x-large;
}

.dropdown-item{
    font-size: x-large;
}